html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
html, body {
  background: black;
  color: white;
  font-family: Arial;
  font-size: xx-large;
  text-align: center;
}

button {
  border-radius: 8px;
  font-size: x-large;
  width: 80px; height: 40px;
}

input {
  font-size: xx-large;
  width: 4ch;
}

.last {
  color: red;
}
